.dub
dub.selections.json
docs.json
__dummy.html
*.o
*.obj
*.bc
*.ll
out
__test__library__
libgperftools_d.a
examples/.dub
examples/profiler_example
examples/dub.selections.json
examples/docs.json
examples/prof.out
